# BLS API Key
BLS_API_KEY=

# Database Configuration
DATABASE_URL=postgres://oews:oews@localhost:5432/oews

# Docker Compose Database Configuration
POSTGRES_DB=oews
POSTGRES_USER=oews
POSTGRES_PASSWORD=oews
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# NOTE: You may need to change things below here depending on your docker runtime and OS
#
# Testcontainers Configuration: https://node.testcontainers.org/supported-container-runtimes/
# Set TEST_DOCKER_HOST to point to your Docker socket for testcontainers
TEST_DOCKER_HOST=

# Testcontainers socket override for Rancher Desktop
# Set TESTCONTAINERS_DOCKER_SOCKET_OVERRIDE to /var/run/docker.sock for Rancher Desktop
TESTCONTAINERS_DOCKER_SOCKET_OVERRIDE=
